body {
  font-family: Arial, sans-serif;
  padding: 20px;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 10px;
}


.services {
  margin-top: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  /* Set the width to your desired size */

}

.overlay-text {
  position: absolute;
  top: 50%;
  /* Position the text in the middle vertically */
  left: 50%;
  /* Position the text in the middle horizontally */
  transform: translate(-50%, -50%);
  /* Center the text */
  text-align: center;
  /* Center the text horizontally */
}

img {
  width: auto;
  height: auto;
  
}

h1 {
  color: gold;
}

p {
  color: white;
}
